/* #region IMPORTS */

@import 'bootstrap';
@import 'bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #endregion COMMON */

/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: rgb(103, 139, 39);
  --accent: rgb(248, 174, 41);
  --light: rgb(249, 249, 249);
  --secondary: rgb(255, 201, 179);
  --secondary-brown: rgb(183, 108, 73);
  --dark: rgb(35, 25, 20);
}

/* #endregion COMMON */

/* #region HEADER */

header {
  min-height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;

  .menu-sx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

    .menu {
      font-weight: 600;
      cursor: pointer;
    }

    .active:hover {
      color: var(--accent);
    }
  }

  .logo {
    width: 90px;
  }

  .menu-ce {
    .searchbar {
      border-style: none;
      border-radius: 1rem;
      padding: 0.5rem 5rem 0.5rem 0.5rem;
      font-size: 12px;
      background-color: rgb(232, 227, 227);
    }

    .searchbar:focus {
      border: none;
      outline: none;
    }
  }

  .menu-dx {
    margin-right: 2rem;
  }

  .menu-icons {
    width: 24px;
    margin-left: 1rem;
    cursor: pointer;
  }

  .menu-icons:hover {
    color: var(--accent);
  }

  .search {
    border-style: none;
    background-color: transparent !important;

    .icon-search {
      height: 24px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0 !important;

    li {
      list-style: none;

      a {
        color: var(--dark);
      }
    }
  }
}



/* #endregion HEADER */

/* #region MAIN */

main {

  /* ------------ HOMEPAGE component ------------ */

  #jumbotron {
    background-image: url("/img/jumbotron.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;

    .jumbo-container {
      width: 50%;
      padding-left: 7rem;

      .jumbo-title {
        color: var(--dark);
        font-weight: 800;
        font-size: 70px;
        line-height: 4rem;
        padding-bottom: 0.5rem;
      }

      .jumbo-text {
        font-size: 40px;
        color: var(--dark);
        line-height: 2.5rem;
        padding-bottom: 1.5rem;
      }

      .explore-btn {
        border-style: none;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem 0.5rem;
        font-weight: 600;
        background: var(--primary);
        color: var(--light);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .explore-btn:hover {
        background-color: var(--accent);
      }
    }
  }

  #tag-jumbotron {
    /* DA ELIMINARE PER LO STILE */
    min-height: 500px;
    background-color: yellow;
  }

  .description {
    margin: 4rem;
  }

  .description-text {
    font-size: 25px !important;
    padding-left: 2rem;
  }

  .allergens {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .food-allergens {
      width: 150px;
      cursor: pointer;
    }
  }
}

  #best-sellers {
    background-color: lightgrey;
    min-height: 500px;
  }

  #latest-products {
    min-height: 500px;
  }

  .col {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }

  .col:hover {
    transform: scale(1.05);
  }

  .col img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    padding-bottom: 1.5rem;
    border-radius: 10px;
  }

  .col:hover img {
    transform: scale(1.1);
  }

  h6 {
    padding-bottom: 1rem;
  }

#tags {

  i {
    color: var(--secondary-brown);
  }
}


/* ------------ HOMEPAGE component ------------ */


/* #endregion MAIN */

/* #region FOOTER */

footer {

  /* DA RIMUOVERE QUANDO SI STILIZZA IL FOOTER */
  min-height: 100px;
  background-color: var(--secondary);
  padding: 2rem;
  color: var(--dark);

  .footer-container {
    display: flex;
    align-items: flex-start;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .payoff {
      width: 70%;
    }
  }

  a {
    text-decoration: none;
    color: var(--dark);
  }

  .footer-menu {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding-left: 7rem;

    ul {
      padding-left: 0;

      li {
        margin-bottom: 0.5rem;
        list-style: none;
      }
    }

    .footer-menu-ce {
      display: flex;
      gap: 3rem;
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;

    .bi {
      color: var(--dark);
      width: 24px;
      padding-right: 0.75rem;
    }
  }

  .copyright {
    margin-top: 1.5rem;
  }
}

  .toggler {
    display: none;
  }

/* #endregion FOOTER */

/* schermi medi */

@media (max-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .menu-sx {
    margin-left: 0.5rem !important;
  }
  .searchbar {
    padding: 0.5rem !important;
  }
  main #jumbotron {
    min-height: 250px;
    max-height: 250px !important;
  }

  .jumbo-title {
    font-size: 35px !important;
    padding-bottom: 0 !important;
  }

  .jumbo-text {
    font-size: 25px !important;
    padding-bottom: 0 !important;
    line-height: 1.5rem !important;
  }

  .food-allergens {
    width: 100px !important;
    cursor: pointer;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .img-descr {
    width: 80% !important;
    height: auto;
  }

  .description-text {
    font-size: 25px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }

  footer {
    padding: 1rem;
    text-align: center;

    a {
      color: var(--dark);
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .footer-logo {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .payoff {
    width: 100% !important;
  }

  .footer-menu {
    padding-left: 0 !important;

    h4 {
      font-size: 26px;
    }
  }

  .footer-logo-img {
    width: 130px !important;
  }

  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}

/* schermi medio-piccoli */

@media (max-width: 576px) {
  header {
    padding: 0.75rem;
    .logo {
      width: 70px;
      margin-right: 0;
    }
  }
  .collapse.show {
    display: block;
  }
  .hamburger {
    width: 24px;
    margin: 0 !important;
  }
  .search {
    margin-left: 0.25rem !important;
  }
  .menu {
    display: none;
  }
  .menu-dx {
    display: none;
  }
  .toggler {
    display: block;
    z-index: 1050;
    color: var(--secondary-brown);
    background-color: transparent !important;
    border-style: none;
  }
  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* sopra il contenuto, sotto il menu */
    display: none; /* nascondo di default */
  }
  .overlay.show {
    display: block;
  }
  .menu-container {
    position: absolute;
    top: 60px; /* posizione dell'hamburger menu (sotto) */
    right: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1050; /* sopra l'overlay */
    display: none; /* nascondo di default */
    width: 200px;
  }
  /* mostro il menu */
  .menu-container.show {
    display: block;
  }
  .menu-container ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }
  .menu-container ul li {
    margin-bottom: 1rem;
  }
  .menu-container ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
  }
  .menu-sx {
    margin-left: 0 !important;
  }
  main #jumbotron {
    min-height: 200px;
    max-height: 200px !important;
    background-size: cover;
  }
  .jumbo-container {
    width: 100% !important;
    padding: 1rem 0 1rem 3rem !important;
  }
  .jumbo-title {
    font-size: 25px !important;
    padding-bottom: 0 !important;
    line-height: 2rem !important;
  }
  .jumbo-text {
    font-size: 16px !important;
    padding-bottom: 0 !important;
    line-height: 1rem !important;
  }
  .explore-btn {
    font-size: 10px !important;
  }
  .food-allergens {
    width: 80px !important;
    cursor: pointer;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .img-descr {
    width: 80% !important;
    height: auto;
  }
  .description-text {
    font-size: 25px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    }
  footer {
    padding: 1rem;
    text-align: center;
    a {
      color: var(--dark);
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .footer-logo {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .payoff {
    width: 100% !important;
  }

  .footer-menu {
    padding-left: 0 !important;
    h4 {
      font-size: 26px;
    }
  }
  .footer-logo-img {
    width: 130px !important;
  }
  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}

/* schermi piccoli */

@media (max-width: 480px) {
  header {
    padding: 0.75rem;
    .logo {
      width: 70px;
      margin-right: 0;
    }
  }
  .collapse.show {
    display: block;
  }
  .navbar-toggler {
    display: block;
    z-index: 1050;
  }
  .hamburger {
    width: 24px;
    margin: 0 !important;
  }
  .search {
    margin-left: 0.25rem !important;
  }
  .toggler {
    color: var(--secondary-brown);
    background-color: transparent !important;
    border-style: none;
  }
  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* sopra il contenuto, sotto il menu */
    display: none; /* nascondo di default */
  }
  .overlay.show {
    display: block;
  }
  .menu-container {
    position: absolute;
    top: 60px; /* posizione dell'hamburger menu (sotto) */
    right: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1050; /* sopra l'overlay */
    display: none; /* nascondo di default */
    width: 200px;
  }
  /* mostro il menu */
  .menu-container.show {
    display: block;
  }
  .menu-container ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }
  .menu-container ul li {
    margin-bottom: 1rem;
  }
  .menu-container ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
  }

  .menu-sx {
    margin-left: 0 !important;
  }
  main #jumbotron {
    min-height: 200px;
    max-height: 200px !important;
    background-size: cover;
  }
  .jumbo-container {
    width: 100% !important;
    padding: 1rem 0 1rem 3rem !important;
  }
  .jumbo-title {
    font-size: 25px !important;
    padding-bottom: 0 !important;
    line-height: 2rem !important;
  }
  .jumbo-text {
    font-size: 16px !important;
    padding-bottom: 0 !important;
    line-height: 1rem !important;
  }
  .explore-btn {
    font-size: 10px !important;
  }
  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .menu {
    display: none;
  }
  .menu-dx {
    display: none;
  }
  .food-allergens {
    width: 60px !important;
    cursor: pointer;
  }
  .payoff {
    width: 100% !important;
  }

  .footer-menu {
    gap: 1.5rem !important;

    h4 {
      font-size: 24px;
    }
  }

  .footer-menu ul {
    padding-left: 0;
  }

  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}