/* #region IMPORTS */

@import 'bootstrap';
@import 'bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #endregion IMPORTS */

/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: rgb(103, 139, 39);
  --accent: rgb(248, 174, 41);
  --light: rgb(249, 249, 249);
  --secondary: rgb(255, 201, 179);
  --secondary-brown: rgb(183, 108, 73);
  --dark: rgb(35, 25, 20);
}

/* #endregion COMMON */

/* #region HEADER */

header {
  min-height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;

  .menu-sx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

    .menu {
      font-weight: 600;
      cursor: pointer;
    }

    .active:hover {
      color: var(--accent);
    }
  }

  .logo {
    width: 90px;
  }

  .menu-ce {
    .searchbar {
      border-style: none;
      border-radius: 1rem;
      padding: 0.5rem 5rem 0.5rem 0.5rem;
      font-size: 12px;
      background-color: rgb(232, 227, 227);
    }

    .searchbar:focus {
      border: none;
      outline: none;
    }
  }

  .menu-dx {
    margin-right: 2rem;
  }

  .menu-icons {
    width: 24px;
    margin-left: 1rem;
    cursor: pointer;
  }

  .menu-icons:hover {
    color: var(--accent);
  }

  .search {
    border-style: none;
    background-color: transparent !important;

    .icon-search {
      height: 24px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0 !important;

    li {
      list-style: none;

      a {
        color: var(--dark);
      }
    }
  }

  ul .dropdown {
    z-index: 1000;
  }

  .menu-hamburger .dropdown {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }

  .menu-hamburger .dropdown li {
    margin-bottom: 0.5rem;
  }

  .menu-hamburger .dropdown li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 14px;
  }

  .menu-hamburger .dropdown li a:hover {
    color: var(--primary);
  }

  .menu .dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 0;
    display: none;
  }

  .menu li:hover .dropdown {
    display: block;
  }

  .dropdown li {
    padding: 5px 10px;
  }

  .dropdown li a {
    text-decoration: none;
    color: black;
  }

  .dropdown li a:hover {
    color: var(--accent);
  }

  .dropdown-toggle {
    border: none;
    background-color: transparent;
  }
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}
.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--primary);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 20px;
  text-align: center;
  z-index: 3;
}
.favourites-icon-container {
  position: relative;
  display: inline-block;
}
.favourites-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--primary);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 20px;
  text-align: center;
  z-index: 3;
}
.cart-icon-container:hover .cart-badge {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.favourites-icon-container:hover .favourites-badge {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/* #endregion HEADER */

/* #region MAIN */

main {

  /* ------------ HOMEPAGE component ------------ */

  #jumbotron {
    background-image: url("/img/jumbotron.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;

    .jumbo-container {
      width: 50%;
      padding-left: 7rem;

      .jumbo-title {
        color: var(--dark);
        font-weight: 800;
        font-size: 70px;
        line-height: 4rem;
        padding-bottom: 0.5rem;
      }

      .jumbo-text {
        font-size: 40px;
        color: var(--dark);
        line-height: 2.5rem;
        padding-bottom: 1.5rem;
      }

      .explore-btn {
        border-style: none;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem 0.5rem;
        font-weight: 600;
        background: var(--primary);
        color: var(--light);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .explore-btn:hover {
        background-color: var(--accent);
      }
    }
  }

  #tag-jumbotron {
    min-height: 500px;
  }

  .description {
    margin: 4rem;
  }

  .description-text {
    font-size: 25px !important;
    padding-left: 2rem;
  }

  .allergens {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .food-allergens {
      width: 150px;
      cursor: pointer;
    }
  }
}

#best-sellers {
  min-height: 500px;

  .best-sellers-title {
    color: var(--dark);
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  .best-sellers-sub {
    color: var(--dark);
    padding-bottom: 2rem;
  }
}

#latest-products {
  min-height: 500px;
  background-color: var(--secondary-brown);

  .latest-products-title {
    color: var(--light);
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  .latest-products-sub {
    color: var(--light);
    padding-bottom: 2rem;
  }

  .product-name,
  .product-price {
    color: var(--light);
  }
}

h6 {
  padding-bottom: 1rem;
}

#tags {

  i {
    color: var(--secondary-brown);
  }
}

#wishlist,
#cart,
#all-products {
  min-height: 500px;
}

#diseases{
  background-color: var(--dark);
}
.allergens-container {
  display: flex;
  justify-content: space-around;
}
.allergens{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allergens-title {
  text-decoration: none !important;
  color: var(--secondary-brown);
  padding-top: 1rem;
  font-weight: 700;
}

/* #region PRODUCT DETAILS component */

#product-description {
  background-color: var(--primary);
  padding: 3rem 0 3rem;
  color: var(--light);
}

.product-container {
  width: 60%;
}

#tags {
  font-size: 20px;
  font-weight: 500;
}

.check-icon {
  width: 30px;
}

.btn-add {
  border-style: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 0.5rem;
  font-weight: 600;
  background: var(--accent);
  color: var(--dark);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-add:hover {
  background-color: var(--secondary);
}

.favourites {
  border-style: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 0.5rem;
  background: var(--accent);
  color: var(--light);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 70px;
}

.favourites:hover {
  background-color: var(--secondary);
}

h2 {
  font-weight: 600;
  padding-bottom: 1rem;
}

.product-img {
  width: 90% !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

h3 {
  color: var(--dark);
  font-weight: 700;
}

/* #endregion PRODUCT DETAILS component */

/* #region ORDERCONFIRMATION component */

.confirmation-img {
  width: 250px;
}

.confirmation-text {
  padding-bottom: 1rem !important;
}

.btn-homepage {
  border-style: none;
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 0.5rem 1.5rem 0.5rem;
  font-weight: 600;
  background: var(--accent);
  color: var(--dark);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--secondary);
  }
}

/* #endregion ORDERCONFIRMATION component */

/* #region 404 component */

.notfound-code {
  color: var(--secondary-brown);
  font-weight: 700;
  font-size: 60px;
}

.notfound-text {
  color: var(--dark);
  font-weight: 700;
  font-size: 24px;
}

.notfound-p {
  padding-bottom: 2rem;
}

/* #endregion 404 component */

/* ------------ HOMEPAGE component ------------ */


/* #endregion MAIN */

/* #region FOOTER */

footer {

  min-height: 100px;
  background-image: url("/img/footer-bg.svg");
  background-position: center;
  background-size: cover;
  padding: 2rem;
  color: var(--dark);

  .footer-container {
    display: flex;
    align-items: flex-start;
  }

  .footer-logo-img {
    width: 200px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .payoff {
      width: 70%;
    }
  }

  a {
    text-decoration: none;
    color: var(--dark);
  }

  .footer-menu {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding-left: 2rem;

    ul {
      padding-left: 0;

      li {
        margin-bottom: 0.5rem;
        list-style: none;
      }
    }

    .footer-menu-ce {
      display: flex;
      gap: 3rem;
      padding-bottom: 3rem;
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;

    .bi {
      color: var(--dark);
      width: 24px;
      padding-right: 0.75rem;
    }
  }

  .copyright {
    color: var(--light);
    margin-bottom: 0;
    font-size: 12px !important;
  }
}

.toggler {
  display: none;
}

/* #endregion FOOTER */

/* schermi molto grandi */

@media (max-width: 1440px) {
  #jumbotron {
    max-height: 350px !important;
  }

  .jumbo-title {
    font-size: 50px !important;
    padding-bottom: 0 !important;
  }

  .jumbo-text {
    font-size: 25px !important;
    padding-bottom: 1rem !important;
    line-height: 2rem !important;
  }

  .explore-btn {
    font-size: 20px !important;
  }

  #product-title {
    font-size: 26px;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }

  #product-text {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

/* schermi medio-grandi */
@media (max-width: 1280px) {
  .product-container {
    width: 70%;
  }

  .product-img {
    margin-bottom: 1rem;
  }
}

/* schermi grandi */

@media (max-width: 1200px) {

  .footer {
    padding-top: 3rem !important;
  }

  .payoff {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .menu {
    padding: 0 0 0 1rem;
    font-size: 14px;
  }

  .searchbar {
    padding: 0.5rem 2rem 0.5rem 0.5rem !important;
  }

  .search {
    margin-left: 0.25rem !important;
  }

  .wishlist {
    margin-left: 0 !important;
  }

  #jumbotron {
    min-height: 280px !important;
    max-height: 300px !important;
  }

  .jumbo-container {
    width: 100% !important;
  }

  .jumbo-title {
    font-size: 40px !important;
    padding-bottom: 0 !important;
  }

  .jumbo-text {
    font-size: 20px !important;
    padding-bottom: 1rem !important;
    line-height: 1.5rem !important;
  }

  .explore-btn {
    font-size: 15px !important;
  }

  .food-allergens {
    width: 100px !important;
  }
  .allergens-title {
    font-size: 18px;
  }

  .product-container {
    width: 70%;
  }

  .product-img {
    margin-bottom: 1rem;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .img-descr {
    width: 80% !important;
  }

  .footer-menu-ce {
    gap: 1rem !important;
  }

  .payoff {
    display: none !important;
  }
}

/* schermi medi */

@media (min-width: 826px) {

  .menu-hamburger {
    display: none !important;
  }
}

@media (max-width: 825px) {
  header {
    padding: 0.75rem;

    .logo {
      width: 70px;
      margin-right: 0;
    }
  }

  .hamburger {
    width: 24px;
    margin: 0 !important;
  }

  .search {
    margin-left: 0.25rem !important;
  }

  .menu {
    display: none;
  }

  .menu-dx {
    display: none;
  }

  .toggler {
    display: block;
    z-index: 1050;
    color: var(--secondary-brown);
    background-color: transparent !important;
    border-style: none;
  }

  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    /* sopra il contenuto, sotto il menu */
    display: none;
    /* nascondo di default */
  }

  .overlay.show {
    display: block;
  }

  .menu-container {
    position: absolute;
    top: 60px;
    /* posizione dell'hamburger menu (sotto) */
    right: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1050;
    /* sopra l'overlay */
    display: none;
    /* nascondo di default */
    width: 200px;
  }

  /* mostro il menu */
  .menu-container.show {
    display: block;
  }

  .menu-container ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }

  .menu-container ul li {
    margin-bottom: 1rem;
  }

  .menu-container ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
  }

  .menu-sx {
    margin-left: 0 !important;
  }

  main #jumbotron {
    min-height: 250px;
    max-height: 250px !important;
    background-size: cover;
  }

  .jumbo-container {
    width: 100% !important;
    padding: 1rem 0 1rem 3rem !important;
  }

  .jumbo-title {
    font-size: 30px !important;
    padding-bottom: 0 !important;
    line-height: 2rem !important;
  }

  .jumbo-text {
    font-size: 20px !important;
    padding-bottom: 0 !important;
    line-height: 1.5rem !important;
  }

  .explore-btn {
    font-size: 10px !important;
  }

  .food-allergens {
    width: 85px !important;
    cursor: pointer;
  }
  .allergens-title {
    font-size: 16px;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .img-descr {
    width: 80% !important;
    height: auto;
  }

  .description-text {
    font-size: 25px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .product-container {
    width: 70%;
  }

  .product-img {
    margin-bottom: 1rem;
  }

  footer {
    padding: 1rem;
    text-align: center;

    a {
      color: var(--dark);
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .footer-logo {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .payoff {
    width: 100% !important;
    display: block !important;
  }

  .footer-menu {
    padding-left: 0 !important;

    h4 {
      font-size: 26px;
    }
  }

  .footer-logo-img {
    width: 130px !important;
  }

  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}

/* schermi medio-piccoli */

@media (max-width: 605px) {

  .footer-menu-ce {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .food-allergens {
    width: 70px !important;
    cursor: pointer;
  }
  .allergens-title {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0.75rem;

    .logo {
      width: 70px;
      margin-right: 0;
    }
  }

  .collapse.show {
    display: block;
  }

  .hamburger {
    width: 24px;
    margin: 0 !important;
  }

  .search {
    margin-left: 0.25rem !important;
  }

  .menu {
    display: none;
  }

  .menu-dx {
    display: none;
  }

  .toggler {
    display: block;
    z-index: 1050;
    color: var(--secondary-brown);
    background-color: transparent !important;
    border-style: none;
  }

  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    /* sopra il contenuto, sotto il menu */
    display: none;
    /* nascondo di default */
  }

  .overlay.show {
    display: block;
  }

  .menu-container {
    position: absolute;
    top: 60px;
    /* posizione dell'hamburger menu (sotto) */
    right: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1050;
    /* sopra l'overlay */
    display: none;
    /* nascondo di default */
    width: 200px;
  }

  /* mostro il menu */
  .menu-container.show {
    display: block;
  }

  .menu-container ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }

  .menu-container ul li {
    margin-bottom: 1rem;
  }

  .menu-container ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
  }

  .menu-sx {
    margin-left: 0 !important;
  }

  main #jumbotron {
    min-height: 200px;
    max-height: 200px !important;
    background-size: cover;
  }

  .jumbo-container {
    width: 100% !important;
    padding: 1rem 0 1rem 3rem !important;
  }

  .jumbo-title {
    font-size: 30px !important;
    padding-bottom: 0.5rem !important;
    line-height: 2rem !important;
  }

  .jumbo-text {
    font-size: 20px !important;
    padding-bottom: 0 !important;
    line-height: 1.5rem !important;
  }

  .explore-btn {
    font-size: 12px !important;
  }
  .allergens {
    padding: 1.75rem 1rem 1.75rem 1rem !important;
  }
  .food-allergens {
    width: 80px !important;
    cursor: pointer;
  }
  .allergens-container {
    flex-wrap: wrap !important;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .img-descr {
    width: 80% !important;
    height: auto;
  }

  .description-text {
    font-size: 25px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .product-container {
    width: 80% !important;
  }

  .product-img {
    margin-bottom: 1rem;
  }

  .btn-add {
    padding: 0.75rem 2rem 0.75rem !important;
    font-size: 16px;
  }

  button.favourites {
    padding: 0.75rem 2rem 0.75rem !important;
    width: 90px;
  }

  footer {
    padding: 1rem;
    text-align: center;

    a {
      color: var(--dark);
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .footer-logo {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .payoff {
    width: 100% !important;
    display: none !important;
  }

  .footer-menu {
    padding-left: 0 !important;

    h4 {
      font-size: 20px;
      margin-bottom: 0.5rem !important;
    }
  }

  .footer-menu-ce {
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 1rem !important;
    padding-bottom: 2rem !important;
  }

  .footer-logo-img {
    width: 100px !important;
  }

  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}

/* schermi piccoli */

@media (max-width: 480px) {
  header {
    padding: 0.75rem;

    .logo {
      width: 70px;
      margin-right: 0;
    }
  }

  .collapse.show {
    display: block;
  }

  .toggler {
    display: block;
    z-index: 1050;
  }

  .menu-sx {
    margin-left: 0 !important;
  }

  main #jumbotron {
    min-height: 200px;
    max-height: 200px !important;
    background-size: cover;
  }

  .jumbo-container {
    width: 100% !important;
    padding: 1rem 0 1rem 3rem !important;
  }

  .jumbo-title {
    font-size: 25px !important;
    padding-bottom: 0 !important;
    line-height: 2rem !important;
  }

  .jumbo-text {
    font-size: 16px !important;
    padding-bottom: 0 !important;
    line-height: 1rem !important;
  }

  .explore-btn {
    font-size: 10px !important;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .menu {
    display: none;
  }

  .menu-dx {
    display: none;
  }

  .food-allergens {
    width: 70px !important;
    cursor: pointer;
  }
  .allergens-title {
    font-size: 14px !important;
  }

  .product-container {
    width: 80% !important;
  }

  .btn-add {
    padding: 0.65rem 1.5rem 0.65rem !important;
    font-size: 12px;
  }

  .payoff {
    width: 100% !important;
  }

  .footer-menu {
    gap: 1.5rem !important;

    h4 {
      font-size: 24px;
    }
  }

  .footer-menu-ce {
    padding-bottom: 6rem !important;
  }

  .footer-menu ul {
    padding-left: 0;
  }

  .mb-4 {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .copyright {
    margin-top: 0;
  }
}

/* schermi molto piccoli */

@media (max-width: 360px) {
  .logo {
    width: 50px !important;
  }

  .searchbar {
    padding: 0.5rem 1rem 0.5rem 0.5rem !important;
    font-size: 9px !important;
  }

  .allergens-title {
    font-size: 14px !important;
  }

  .product-container {
    width: 80% !important;
  }

  .btn-add {
    padding: 0.65rem 1.5rem 0.65rem !important;
    font-size: 12px;
  }
}