/* #region IMPORTS */

@import 'bootstrap';
@import 'bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #endregion IMPORTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.offcanvas_cart {
    position: fixed;
    top: 0;
    right: 0;
    transform: 50% 50%;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.396);
}


.offcanvas_cart_container {
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    transform: translateX(100%);
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.offcanvas_cart_container.show {
    transform: translateX(0);
    /* quando show è presente, il carrello entra */
}

.offcanvas_cart-header {
    position: relative;
    max-height: 80px;
    /* background: linear-gradient(rgb(248, 174, 41), rgb(103, 139, 39)); */
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.offcanvas_cart-body {
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: linear-gradient(rgb(103, 139, 39), rgba(103, 139, 39, 0.08)); */
}

.offcanvas_cart-image {
    width: 75px;
    height: 75px;
}

.offcanvas_cart-button {
    border: none;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;

    .bi-plus-circle,
    .bi-dash-circle {
        font-size: 1rem;
    }
}

#offcanvas_cart-quantity {
    font-size: 16px;
    font-weight: 500;
}

.offcanvas_cart-bg {
    width: 70%;
    height: 100%;
}

.offcanvas_cart-footer {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(253, 253, 253, 0.753);
    /* background: linear-gradient(rgba(103, 139, 39, 0.08), rgb(103, 139, 39)); */
}

.offcanvas_cart_btn-cart {
    border-style: none;
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem;
    font-weight: 600;
    background: var(--accent);
    color: var(--dark);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: var(--secondary);
    }
}